body {
    background-color: #96B6C5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
    font-size: 60px;
    font-style: oblique;
    text-align: center;
    margin: 50px;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#colour-wheel {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 80px;
    height: 80px;
    border: none;
    cursor: pointer;
}
#colour-wheel::-webkit-color-swatch {
    border-radius: 50%;
    border: 3px solid #000000;
}
#colour-wheel::-moz-color-swatch {
    border-radius: 50%;
    border: 3px solid #000000;
}

.setting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #969FC5;
    width: 200px;
    height: 500px;
    margin-right: 32px;
    border-radius: 16px;
}

.grid-bg-colour {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background-color: #E1AD21;
    padding: 30px;
    border-radius: 20px;;
}

#grid-container {
    display: grid;
    width: 500px;
    height: 500px;
    background-color: #FEFEFE;
    border: 3px solid #000000;
}

.grid-element {
    border: 1px solid rgb(173, 173, 173);
}
