#grid {
    width: 400px;
    height: auto;
    border: 3px solid #000000;
}

.row {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0;
}

.block {
    border: 1px solid tomato;
}